[Service]
Type=exec
ExecStart=/home/pi/signalblast/.venv/bin/python -m signalblast.main
EnvironmentFile=/home/pi/signalblast/systemd/env_file.env
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target


# Visualise the journal by running
# journalctl -u signalblast.service

# The service was added to the system services by running
# sudo ln -sn /home/pi/signalblast/systemd/signalblast.service /etc/systemd/system/signalblast.service

# The service can be added and enabled with (enabling makes it start on boot)
# sudo systemctl daemon-reload && sudo systemctl enable signalblast.service

# Start the service inmediately for testing with
# sudo systemctl start signalblast.service
